
/* Tablet css */

@media only screen and (max-width: 1200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    min-height: 100vh;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(150, 150, 150));
    color: white;
    list-style: none;
    scroll-behavior: smooth;
  }

  header {
    padding: 1.3rem 5%;
  }

  .logo {
    font-size: 1.7rem;
  }

  .navbar a {
    margin-left: 1rem;

    font-weight: 600;
    font-size: 1.3rem;
  }

  section {
    padding-top: 80px;
    margin-left: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  /* Home */
  #home {
    height: 850px;
  }

  .home-container {
    grid-template-columns: none;
    gap: 50px;
  }

  /* About */

  #about {
    height: 1050px;
  }

  .about-container {
    grid-template-columns: none;
    gap: 40px;
  }

  .tab-titles {
    margin-top: 30px;
    gap: 1rem;
    align-items: center;
  }

  .tab-links {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }

  /* Projects */

  #projects {
    height: 100%;
  }

  .projects-container {
    grid-template-columns: none;
  }

  .project {
    margin-bottom: 20px;
  }

  #contact {
    height: 100%;
  }

  .contact-container {
    grid-template-columns: none;
    gap: 40px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 950px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.1),
      rgb(150, 150, 150, 0.1)
    );
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, -1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 16rem;
  }

  .navbar a {
    display: block;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    font-weight: 600;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
  }

  section {
    margin-left: 50px;
    margin-right: 50px;
  }

  #about {
    height: 1000px;
  }

  .about-container {
    justify-items: center;
    align-items: center;
  }

  #about .pic-container {
    justify-content: center;
    height: 400px;
    width: 550px;
    border-radius: 10px;
  }

  form {
    margin-top: -200px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 700px) {
  .about-container {
    margin-left: -25px;
  }
}

/* Mobile css */

@media only screen and (max-width: 430px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.1),
      rgb(150, 150, 150, 0.1)
    );
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, -1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 15rem;
  }

  .navbar a {
    display: block;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
    font-weight: 600;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
  }

  section {
    padding-top: 80px;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    min-height: fit-content;
    border: none;
  }

  /* Home */

  #home {
    height: 100%;
  }
  .home-container {
    display: grid;
    grid-template-columns: none;
    gap: 40px;
  }

  #home p {
    font-weight: 600;
  }

  .cv-btn {
    width: 170px;
  }

  /* About */

  #about {
    height: 750px;
    margin-left: -2px;
    margin-right: -2px;
  }
  .about-container {
    display: grid;
    grid-template-columns: none;
    align-items: center;
    gap: 70px;
  }

  #about .pic-container {
    justify-content: center;
    border-radius: 10px;
  }

  #about .about-pic {
    width: 370px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .about-details {
    margin-top: -50px;
  }
  .description {
    font-size: 1rem;
  }
  .tab-titles {
    height: 100%;
    margin-top: 15px;
    gap: 0.9rem;
    position: relative;
    overflow: hidden;
  }

  .tab-links {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .tab-contents {
    font-size: 0.9;
    width: 100%;
  }

  .tab-contents li {
    font-size: 0.9rem;
  }

  .tab-contents p {
    font-size: 0.8rem;
  }

  /* Projects */
  #projects {
    height: 100%;
  }

  .projects-container {
    display: grid;
    place-items: center;
    grid-template-columns: none;
    justify-content: center;
    margin-top: -30px;
    gap: 20px;
  }

  .project {
    width: 80%;
    height: 80%;
  }

  .layer h2 {
    margin-bottom: 20px;
  }
  .layer p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  .layer a {
    margin-top: 0px;
  }

  .layer h3.show {
    bottom: 20px;
  }

  /* Contact */

  #contact {
    height: 100%;
  }

  .contact-container {
    grid-template-columns: none;
  }

  .contact-details {
    height: 280px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1rem;
  }

  #contact p {
    font-size: 1rem;
  }

  form {
    margin-top: -40px;
    margin-left: 30px;
    margin-right: 30px;
  }

  footer {
    margin-bottom: 15px;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 375px) {
  #about .about-pic {
    width: 320px;
    height: 190px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
}

