@media only screen and (max-width: 992px) {
  header {
    padding: 1.3rem 5%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navbar a {
    font-size: 16px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about .pic-container {
    display: flex;
    margin-right: 0;
  }

  .about-details {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.1),
      rgb(150, 150, 150, 0.1)
    );
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, -1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 14rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
  }
}
