@media only screen and (max-width: 992px) {
  header {
    padding: 1.3rem 5%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .navbar a {
    font-size: 16px;
  }
}

/* Mobile css*/

@media only screen and (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.1),
      rgb(150, 150, 150, 0.1)
    );
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, -1);
    overflow: hidden;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 14rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
  }

  section {
    height: 96vh;
    padding-top: 80px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    box-sizing: border-box;
    min-height: fit-content;
    border: 1px solid;
  }

  /* Home */

  .pic-container {
    height: 100%;
    width: 100%;
  }

  .cv-btn {
    width: 170px;
  }

  /* About */

  #about {
    height: 100%;
  }
  .about-container {
    display: grid;
    grid-template-columns: none;
  }

  #about .pic-container {
    height: 100%;
    justify-content: center;
  }

  #about .about-pic {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .description {
    margin-left: 5px;
    font-size: 1.1rem;
  }
  .tab-titles {
    margin-left: 5px;
    height: 100%;
    margin-top: 15px;
    gap: 0.8rem;
    position: relative;
    overflow: hidden;
  }

  .tab-links {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .tab-contents {
    margin-left: 5px;
    font-size: 0.9;
  }

  .tab-contents li {
    font-size: 0.9rem;
  }

  .tab-contents p {
    font-size: 0.8rem;
  }
}
