@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(35, 35, 35);
  color: white;
  list-style: none;
}

/* Desktop Nav */

.desktop-nav {
  padding: 0px 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  margin-bottom: 2px;
  font-weight: 500;
  color: gold;
}

.nav-links {
  font-size: 1.5rem;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  color: gold;
}

/* Hamburger Nav */

.hamburger-nav {
  display: none;
}

/* Section */

section {
  height: 96vh;
  margin-left: 8rem;
  margin-right: 8rem;
  box-sizing: border-box;
  min-height: fit-content;
}

section h1 {
  color: gold;
}

/* Buttons */

button {
  background-color: white;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: gold;
}

/* Home */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pic-container {
  display: flex;
  height: 350px;
  width: 400px;
  margin: auto 0;
}

.profile-pic {
  border-radius: 50%;
}

.resume-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 30px;
}

.resume-text {
  text-align: center;
}

.links-container {
  display: flex;
  flex-direction: column;
}
.social-icons {
  align-self: center;
  text-align: center;
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.cv-btn {
  height: 30px;
  margin-top: 2rem;
}

i:hover {
  color: gold;
}

/* About */

#about {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.title {
  align-items: center;
}

.description {
  text-align: justify;
}

.title h1 {
  color: gold;
  text-align: left;
}

.title a {
  cursor: pointer;
  color: white;
  margin-left: auto;
}

.title a:hover {
  color: gold;
}

.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  min-height: 400px;
}

#about .pic-container {
  margin-right: 3rem;
  height: 100%;
}

#about .profile-pic {
  height: 350px;
  width: 400px;
}

.about-details {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.tab-titles {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.tab-links {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}

.tab-links:hover,
.tab-links.active-link {
  color: gold;
}

.tab-contents {
  display: none;
  font-size: 14px;
  width: 500px;
  height: 100%;
  overflow: auto;
}

.tab-contents li {
  color: gold;
}

.tab-contents.active-tab {
  display: block;
}
.button-container {
  text-align: center;
}

/* Projects */

#projects {
  margin-top: 5rem;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  cursor: pointer;
}
.project-btn_container {
  display: flex;

  justify-content: center;
  margin-top: 1.5rem;
  gap: 3rem;
}

.project-btn {
  font-weight: bold;
  height: 30px;
  width: 60px;
}

/* Contact */

#contact {
  margin-top: 5rem; /* Aggiunto spazio tra le sezioni */
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.contact-details {
  margin-right: 70px;
}

#contact p {
  text-align: justify;
}
.contact-details li i {
  margin-right: 10px;
}

.social-icons {
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contact-form input,
textarea {
  resize: none;
  background: rgb(45, 45, 45);
  width: 100%;
  border: 0;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.contact-form button {
  margin-top: 10px;
  height: 30px;
  width: 80px;
}

/* Footer */
footer {
  font-size: 24px;
  color: gold;
  text-align: center;
  margin-top: 140px;
}
