@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(15, 15, 15);
  color: white;
  list-style: none;
}

/* Desktop Nav */

.desktop-nav {
  padding: 0px 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  margin-bottom: 2px;
  font-weight: 500;
  color: gold;
}

.nav-links {
  font-size: 1.5rem;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-links a:hover {
  color: gold;
}

/* Section */

section {
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

section h1 {
  color: gold;
}

/* Home */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pic-container {
  display: flex;
  height: 350px;
  width: 400px;
  margin: auto 0;
}

.profile-pic {
  border-radius: 50%;
}

.resume-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 30px;
}

.resume-text {
  text-align: center;
}

.home-links {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
  cursor: pointer;
}

i:hover {
  color: gold;
}

/* Buttons */

button {
  background-color: white;
  cursor: pointer;
  color: black;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

button:hover {
  background-color: gold;
}

/* About */

#about {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title h1 {
  color: gold;
  text-align: left;
}

.title a {
  cursor: pointer;
  color: white;
  margin-left: auto;
}

.title a:hover {
  color: gold;
}

.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#about .pic-container {
  margin-right: 3rem;
}

.about-details {
  display: flex;
  flex-direction: column;
}

.tab-titles {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.tab-links {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}

.tab-links:hover,
.tab-links.active-link {
  color: gold;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
.button-container {
  text-align: center;
}

/* Projects */

.projects-container {
  display: flex;
  flex-direction: row;
}

.project-img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
  cursor: pointer;
}

.project-img:hover {
  background-color: blue;
}

.project-btn {
  font-weight: bold;
}

/* Contact */

.contact-container {
  display: flex;
  flex-direction: row;
}

.contact-details li i {
  margin-right: 10px;
}

.social-icons {
  margin-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form input,
textarea {
  background: rgb(45, 45, 45);
  width: 100%;
  border: 0;
  outline: none;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.contact-form button {
  margin-top: 10px;
}

/* Footer */
footer {
  font-size: 24px;
  color: gold;
  text-align: center;
  margin-top: 140px;
}
